/* .op {
    opacity: 0;
    transform: translateX(-90px);
    transition: all 0.7s ease;
}

.op-d{
    opacity: 0;
    transform: translatey(30px);
    transition:  0.7s ease;
}

.show {
    opacity: 1;
    transform: translate(0);
}

.s-1 {
    transition: all 0.7s ease;
}

.s-2 {
    transition: all 0.9s ease;
}

.s-3 {
    transition: all 1.1s ease;

} */