.op {
    opacity: 0;
    transform: translateX(-90px);
    transition: transform 1s ease;
}

.op-d{
    opacity: 0;
    transform: translatey(30px);
    transition: transform 1s ease;
}

.show {
    opacity: 1;
    transform: translate(0);
}

.s-1 {
    transition: transform 1.2s ease;
}

.s-2 {
    transition: transform 1.4s ease;
}

.s-3 {
    transition: transform 1.6s ease;

}