@import url(Flex.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-shade);
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-shade: #DFE0E5;
    --main-light: #F8F9FD;
    --main-dark: #090B10;
    --main-semidark: #20232b;
}

h1{
    font-size: 42px;
    color: var(--main-dark);
}

p {
    font-size: 16px;
    color: var(--main-dark);
}

a {
    text-decoration: none;
    color: var(--main-dark);
    font-size: 18px;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}
.mainframe {
    padding: 100px;
}
.header{
    padding: 25px;
    background: var(--main-light);
    margin-bottom: 8px;
    border-radius: 18px;
    display: grid;
    gap: 30px;
    grid-auto-rows: minmax(0,1fr);
    grid-template-columns: repeat(2,minmax(200px,1fr));
    grid-template-rows: repeat(2,minmax(0,1fr));
    height: 500px;
    justify-content: start;
    overflow: hidden;
    padding: 35px;
    position: relative;
    will-change: transform;
}

.header__paragraph {
    display: flex;
    align-items: end;
}

.header__paragraph > p {
    font-size: 28px;
    font-weight: 600;
    line-height: 2rem;
}

.header__time {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: 600;
}

.header__time--text {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__time--text pre {
    font-size: 16px;
    color: var(--main-dark);
}

.header__link {
    display: flex;
    justify-content: space-between;
}
.header__link--nav {
    display: flex;
    gap: 42px;
}
.header__link--nav a {
    padding-bottom: 8px;
}

.header__link--cl1 {
    display: flex;
    flex-direction: column;
}
.header__link--cl2 {
    display: flex;
    flex-direction: column;
}

.header__link--media {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.worklist {
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(4,minmax(50px,1fr));
}

.worklist__card {
    width: 100%;
    height: 300px;
    background: var(--main-light);
    border-radius: 18.333px;
    border: 1px solid var(--main-light);
}

.worklist__card:hover {
    cursor: pointer;
    border: 1px solid var(--main-semidark);
    color: var(--main-light);
}

.worklist__card--head {
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.worklist__card--head p, pre {
    font-size: 12px;
    color: var(--main-semidark);
}

.card--id {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cl-2 {
    grid-column: auto / span 2;
}

.worklist__card--content {
    display: flex;
    position: relative;
    width: auto;
    height: 88%;
}
.worklist__card--content > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18.333px;
}

/* eachWorkStyle */

.eachframe__head {
    background: var(--main-light);
    margin-bottom: 8px;
    border-radius: 18px;
    height: 500px;
    width: 100%;
    overflow: hidden;
    padding: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    will-change: transform;
    transform-origin: center center;
}

.eachframe__head h1 {
    font-size: 10vw;
    max-width: 100%;
}

.eachframe__head button{
    background: none;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    margin: 35px;
}

.eachframe__content--top > img{
    width: 100%;
    border-radius: 18px;
    background-color: var(--main-light);
}

.product__info {
    padding: 35px;
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: end;
    gap: 120px;
}

.eachframe__footer {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.eachframe__footer img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.eachframe__footer--left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.eachframe__footer--right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product--img {
    width: 100%;
    height: auto;
    background-color: var(--main-light);
    border-radius: 18px;
}